MONGO_URI=mongodb+srv://YOUR_ATLAS_USER:YOUR_ATLAS_PASSWORD@YOUR_CLUSTER.mongodb.net/koms?retryWrites=true&w=majority
PORT=4000
JWT_SECRET=replace_this_with_a_long_random_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173,http://127.0.0.1:5173
NODE_ENV=development
DNS_SERVERS=8.8.8.8,8.8.4.4
